<div class="content-header">
  <div class="col-lg-9 col-md-9 col-sm-9">
    <h1>Completed Requests</h1>
    <h4>Requests</h4>
  </div>
</div>

<div class="row content-body">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Requests</h3>
      </div>
      <div class="card-body">
          <div class="search-tool row">
            <div class="col-sm-1 col-md-1 col-lg-1">
              <button class="btn btn-info btn-icon" type="button"><i class="ion-android-download"></i></button>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
              <sample-date-picker-normal  class="green_cal"></sample-date-picker-normal>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
              <sample-date-picker-normal  class="red_cal"></sample-date-picker-normal>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
              <select class="form-control">
                <option>Company All</option>
                <option>Company A</option>
                <option>Company B</option>
                <option>Company C</option>
                <option>Company D</option>
              </select>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 search-box">
              <div class="input-group">
                <input class="form-control with-info-addon" placeholder="Search for..." type="text">
                <span class="input-group-btn">
                    <button class="btn btn-info" type="button">Go</button>
                </span>
              </div>  
            </div>        
          </div>
        <div>
          <table class="table">
            <thead>
              <tr>
                <th>Date</th>
                <th>Priority</th>
                <th>Name</th>
                <th>End Location</th>
                <th>Scheduled Time</th>
                <th>Performance Time</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>01/11/17</td>
                <td>Standard</td>
                <td><a routerLink="/pages/records/requests_record">Bill of Lading Name/#</a></td>
                <td><a routerLink="#">60 Cleveland Ave.<br>Columbus, Ohio 43215</a></td>
                <td>9:00 AM - 10:00 AM</td>
                <td>9:00 AM - 10:00 AM</td>
              </tr>
              <tr>
                <td>01/11/17</td>
                <td>Standard</td>
                <td><a routerLink="/pages/records/requests_record">Bill of Lading Name/#</a></td>
                <td><a routerLink="#">60 Cleveland Ave.<br>Columbus, Ohio 43215</a></td>
                <td>9:00 AM - 10:00 AM</td>
                <td>9:00 AM - 10:00 AM</td>
              </tr>
              <tr>
                <td>01/11/17</td>
                <td>Standard</td>
                <td><a routerLink="/pages/records/requests_record">Bill of Lading Name/#</a></td>
                <td><a routerLink="#">60 Cleveland Ave.<br>Columbus, Ohio 43215</a></td>
                <td>9:00 AM - 10:00 AM</td>
                <td>9:00 AM - 10:00 AM</td>
              </tr>
              <tr>
                <td>01/11/17</td>
                <td>Standard</td>
                <td><a routerLink="/pages/records/requests_record">Bill of Lading Name/#</a></td>
                <td><a routerLink="#">60 Cleveland Ave.<br>Columbus, Ohio 43215</a></td>
                <td>9:00 AM - 10:00 AM</td>
                <td>9:00 AM - 10:00 AM</td>
              </tr>
              <tr>
                <td>01/11/17</td>
                <td>Standard</td>
                <td><a routerLink="/pages/records/requests_record">Bill of Lading Name/#</a></td>
                <td><a routerLink="#">60 Cleveland Ave.<br>Columbus, Ohio 43215</a></td>
                <td>9:00 AM - 10:00 AM</td>
                <td>9:00 AM - 10:00 AM</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
            </div>
            <div class="pagination_box">
              <ul class="pagination">
                <li class="page-item"><a class="page-link" routerLink="#">Prev</a></li>
                <li class="page-item active"><a class="page-link" routerLink="#">1</a></li>
                <li class="page-item"><a class="page-link" routerLink="#">2</a></li>
                <li class="page-item"><a class="page-link" routerLink="#">3</a></li>
                <li class="page-item"><a class="page-link" routerLink="#">4</a></li>
                <li class="page-item"><a class="page-link" routerLink="#">5</a></li>
                <li class="page-item"><a class="page-link" routerLink="#">Next</a></li>
              </ul>            
            </div>
          </div>
      </div>
    </div>
  </div>
</div>