<div class="content-top">
  <div class="card-block">
    <div class="row">
      <div class=" col-lg-2 col-md-2 ">
        <select class="form-control" id="ccmonth">
          <option>All</option>
          <option>one</option>
          <option>two</option>
          <option>three</option>
        </select>
      </div>
      <div class="col-lg-6 col-md-6 ">
        <div class="col-lg-5 col-md-5">
           <sample-date-picker-normal></sample-date-picker-normal>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="google-maps">
</div>