<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12 col-md-12 title-block">
      <div class="card card-outline-third">
        <div class="card-header-second">
          <div class="card-container"><br>
             <span class="black"><h1>Request & Truck Schedule</h1><br><h4>scheduled</h4></span>
          </div>
        </div>
        <div class="card-block">
          <div class="row">
            <div class=" col-lg-2 col-md-2 ">
              <select class="form-control" id="ccmonth">
                <option>All</option>
                <option>one</option>
                <option>two</option>
                <option>three</option>
              </select>
            </div>
            <div class="col-lg-6 col-md-6 ">
              <div class="col-lg-5 col-md-5">
                 <sample-date-picker-normal></sample-date-picker-normal>
              </div>
              <div class="col-lg-1 col-md-1 padding"><i class="ion-minus-round black"></i></div>
              <div class="col-lg-5 col-md-5">
                 <sample-date-picker-normal ></sample-date-picker-normal>
              </div>
            </div>
            <div class="col-lg-1 col-md-1 "></div>
            <div class="col-lg-3 col-md-3 ">
              <div class="input-group">
                <input type="text" class="form-control black" placeholder="Search">
                <span class="input-group-btn">
                  <button class="btn btn-primary">
                    GO
                  </button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--accordion-->
  <div class="accordion">
  <accordion>
    <!--first item-->
    <i class="fa fa-lg float-right card-header fa-chevron-up black"></i>
    <accordion-group  heading="Feb 1,2017@ 7:00 AM">
      <div class="row accordion-title-block">
        <div class="col-lg-3 col-md-3 col-sm-3 black">
         <span class="black"> <h6 style="margin-top:15px;"> Bill of Lading Name/# </h6></span>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8"></div>
        <div class="col-lg-1 col-md-1 col-sm-1" style="margin-top:10px;">
          <button class="btn btn-danger">cancel</button>
        </div>
      </div>
      <div class="row bottom-line"></div>
      <div class="row" >
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <div class="row chile-bottom-line">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
              <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1"><i class="ion-wrench grey"></i></div>
                <div class="col-lg-8 col-md-8 col-sm-8">
                  <span class="black">
                    <h4>
                      Shipment Name<br>Category<br>#000000
                    </h4>
                  </span>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
               <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-4"><span class="black"><h4>L:000'</h4></span></div>
                  <div class="col-lg-4 col-md-4 col-sm-4"><span class="black"><h4>W:000'</h4></span></div>
                  <div class="col-lg-4 col-md-4 col-sm-4"><span class="black"><h4>H:000'</h4></span></div>
               </div>
               <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-4"><span class="black"> <h4>000 lbs</h4></span></div>
                  <div class="col-lg-8 col-md-8 col-sm-8"></div>
               </div>
               <div class="row">
                 <div class="col-lg-8 col-md-8 col-sm-8"><span class="grey"><h4>Requires Permit:</h4></span></div>
                 <div class="col-lg-4 col-md-4 col-sm-4"> </div>
               </div>
               <div class="row">
                 <div class="col-lg-4 col-md-4 col-sm-4"><span class="black"> <h4>NO</h4></span></div>
                 <div class="col-lg-8 col-md-8 col-sm-8"></div>
               </div>
            </div>
          </div>
          <div class="row chile-bottom-line">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
              <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1"><i class="ion-pin blue"></i></div>
                <div class="col-lg-8 col-md-8 col-sm-8">
                  <h4>
                    <a href="#">400 Nationwide Bivd.<br>Columbus,Ohio43215</a>
                    <br>
                    <h4 class="black">|</h4>
                    <a href="#">656 Thurber Dr.W<br>Columbus,Ohio 43215</a>
                  </h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
              <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1"><i class="ion-clock green"></i></div>
                <div class="col-lg-8 col-md-8 col-sm-8">
                  <span class="black">
                    <h4>Jan.21,2017<br>10:00 AM<br>|</h4>
                  </span>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
              </div>
              <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1"><i class="ion-clock grey"></i></div>
                <div class="col-lg-8 col-md-8 col-sm-8"><span class="black"><h4>Jan.21,2017<br>11:00 AM</h4></span></div>
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
              </div>
            </div>
          </div>
          <div class="row child-padding">
             <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
               <div class="row">
                  <div class="col-lg-1 col-md-1 col-sm-1"><i class="ion-document-text red"></i></div>
                  <div class="col-lg-8 col-md-8 col-sm-8"><a href="#"><h4>File Name.pdf</h4></a></div>
                  <div class="col-lg-3 col-md-3 col-sm-3"></div>
               </div>
               <div class="row">
                 <div class="col-lg-1 col-md-1 col-sm-1"></div>
                  <div class="col-lg-8 col-md-8 col-sm-8"><span class="grey"><h6>2-13-17 &nbsp;2:45pm</h6></span></div>
                  <div class="col-lg-3 col-md-3 col-sm-3"></div>
               </div>
             </div>
             <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
               <div class="row">
                  <div class="col-lg-1 col-md-1 col-sm-1"><i class="ion-clipboard grey"></i></div>
                  <div class="col-lg-8 col-md-8 col-sm-8"><a href="#"><h4>File Name.jpg</h4></a></div>
                  <div class="col-lg-3 col-md-3 col-sm-3"></div>
               </div>
               <div class="row">
                 <div class="col-lg-1 col-md-1 col-sm-1"></div>
                  <div class="col-lg-8 col-md-8 col-sm-8"><span class="grey"><h6>2-13-17 &nbsp;2:45pm</h6></span></div>
                  <div class="col-lg-3 col-md-3 col-sm-3"></div>
               </div>
             </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
          <div class="row chile-bottom-line">
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
              <h4><a href="#">Towing &nbsp; Company &nbsp; Name &nbsp; 4.7 &nbsp;</a> 
                <rating style="color:yellowgreen;" [(ngModel)]="_rate1" max="{{_max1}}" stateOn="ion-android-star" stateOff="ion-android-star-outline" class="rating">
                </rating>
              </h4>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
              <span class="black"><h4 class="grey">Driver :John Smith</h4></span>
            </div>
          </div>
          <div class="row child-padding2">
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
              <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2"><i class="fa fa fa-automobile grey"></i></div>
                <div class="col-lg-7 col-md-7 col-sm-7"><span class="black"><h4>2010 Make Model</h4>#000000<br>Ohio</span></div>
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
              </div>
              <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2"></div>
                <div class="col-lg-7 col-md-7 col-sm-7">
                  <div class="row"><br><span class="black"><h6>Double Drop Deck Type</h6></span></div>
                  <div class="row">
                    <span class="black">
                      <h6 class="grey">Empty Weight : &nbsp; &nbsp; 1,000 lbs</h6>
                    </span>
                  </div>
                  <div class="row">
                    <span class="black">
                      <h6 class="grey">Max Weight : &nbsp; &nbsp; 1,000 lbs</h6>
                    </span>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
              </div>
              <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2"><i class="ion-pin blue"></i></div>
                <div class="col-lg-7 col-md-7 col-sm-7">
                  <div class="row"><span class="grey"><h4>Home Location:</h4></span></div>
                  <div class="row"><a href="#"><h4>60 Cleveland Ave.Columbus, Ohio 43215</h4></a></div>                 
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
              </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"><span class="grey"><h4>Axels:</h4></span></div>
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                <div class="col-lg-4 col-md-4 col-sm-4"><span class="black"><h4>6</h4></span></div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"><span class="grey"><h4>Tires/Axel:</h4></span></div>
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                <div class="col-lg-4 col-md-4 col-sm-4"><span class="black"><h4>2</h4></span></div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"><span class="grey"><h4>Tire Width/Axel:</h4></span></div>
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                <div class="col-lg-4 col-md-4 col-sm-4"><span class="black"><h4>32"</h4></span></div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"><span class="grey"><h4>lbs/Axel:</h4></span></div>
                <div class="col-lg-2 col-md-2 col-sm-2"></div>
                <div class="col-lg-6 col-md-6 col-sm-6"><span class="black"><h4>16,666.5</h4></span></div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"><h4 class="grey">Between Axel:</h4></div>
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                <div class="col-lg-4 col-md-4 col-sm-4"><h4 class="black">4'</h4></div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"><h4 class="grey">Length:</h4></div>
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                <div class="col-lg-4 col-md-4 col-sm-4"><h4 class="black">000'</h4></div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"><h4 class="grey">Width:</h4></div>
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                <div class="col-lg-4 col-md-4 col-sm-4"><h4 class="black">000'</h4></div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"><h4 class="grey">Deck Height:</h4></div>
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                <div class="col-lg-4 col-md-4 col-sm-4"><h4 class="black">000'</h4></div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"><h4 class="grey">Well Length:</h4></div>
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                <div class="col-lg-4 col-md-4 col-sm-4"><h4 class="black">000'</h4></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </accordion-group>
     <i class="fa fa-lg float-right card-header fa-chevron-up black"></i>
    <accordion-group  heading="Feb 1,2017@ 7:00 AM">
      <div class="row accordion-title-block">
        <div class="col-lg-3 col-md-3 col-sm-3 black">
         <span class="black"> <h6 style="margin-top:15px;"> Bill of Lading Name/# </h6></span>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8"></div>
        <div class="col-lg-1 col-md-1 col-sm-1" style="margin-top:10px;">
          <button class="btn btn-danger">cancel</button>
        </div>
      </div>
      <div class="row bottom-line"></div>
      <div class="row" >
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <div class="row chile-bottom-line">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
              <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1"><i class="ion-wrench grey"></i></div>
                <div class="col-lg-8 col-md-8 col-sm-8">
                  <span class="black">
                    <h4>
                      Shipment Name<br>Category<br>#000000
                    </h4>
                  </span>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
               <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-4"><span class="black"><h4>L:000'</h4></span></div>
                  <div class="col-lg-4 col-md-4 col-sm-4"><span class="black"><h4>W:000'</h4></span></div>
                  <div class="col-lg-4 col-md-4 col-sm-4"><span class="black"><h4>H:000'</h4></span></div>
               </div>
               <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-4"><span class="black"> <h4>000 lbs</h4></span></div>
                  <div class="col-lg-8 col-md-8 col-sm-8"></div>
               </div>
               <div class="row">
                 <div class="col-lg-8 col-md-8 col-sm-8"><span class="grey"><h4>Requires Permit:</h4></span></div>
                 <div class="col-lg-4 col-md-4 col-sm-4"> </div>
               </div>
               <div class="row">
                 <div class="col-lg-4 col-md-4 col-sm-4"><span class="black"> <h4>NO</h4></span></div>
                 <div class="col-lg-8 col-md-8 col-sm-8"></div>
               </div>
            </div>
          </div>
          <div class="row chile-bottom-line">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
              <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1"><i class="ion-pin blue"></i></div>
                <div class="col-lg-8 col-md-8 col-sm-8">
                  <h4>
                    <a href="#">400 Nationwide Bivd.<br>Columbus,Ohio43215</a>
                    <br>
                    <h4 class="black">|</h4>
                    <a href="#">656 Thurber Dr.W<br>Columbus,Ohio 43215</a>
                  </h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
              <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1"><i class="ion-clock green"></i></div>
                <div class="col-lg-8 col-md-8 col-sm-8">
                  <span class="black">
                    <h4>Jan.21,2017<br>10:00 AM<br>|</h4>
                  </span>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
              </div>
              <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1"><i class="ion-clock grey"></i></div>
                <div class="col-lg-8 col-md-8 col-sm-8"><span class="black"><h4>Jan.21,2017<br>11:00 AM</h4></span></div>
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
              </div>
            </div>
          </div>
          <div class="row child-padding">
             <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
               <div class="row">
                  <div class="col-lg-1 col-md-1 col-sm-1"><i class="ion-document-text red"></i></div>
                  <div class="col-lg-8 col-md-8 col-sm-8"><a href="#"><h4>File Name.pdf</h4></a></div>
                  <div class="col-lg-3 col-md-3 col-sm-3"></div>
               </div>
               <div class="row">
                 <div class="col-lg-1 col-md-1 col-sm-1"></div>
                  <div class="col-lg-8 col-md-8 col-sm-8"><span class="grey"><h6>2-13-17 &nbsp;2:45pm</h6></span></div>
                  <div class="col-lg-3 col-md-3 col-sm-3"></div>
               </div>
             </div>
             <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
               <div class="row">
                  <div class="col-lg-1 col-md-1 col-sm-1"><i class="ion-clipboard grey"></i></div>
                  <div class="col-lg-8 col-md-8 col-sm-8"><a href="#"><h4>File Name.jpg</h4></a></div>
                  <div class="col-lg-3 col-md-3 col-sm-3"></div>
               </div>
               <div class="row">
                 <div class="col-lg-1 col-md-1 col-sm-1"></div>
                  <div class="col-lg-8 col-md-8 col-sm-8"><span class="grey"><h6>2-13-17 &nbsp;2:45pm</h6></span></div>
                  <div class="col-lg-3 col-md-3 col-sm-3"></div>
               </div>
             </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
          <div class="row chile-bottom-line">
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
              <h4><a href="#">Towing &nbsp; Company &nbsp; Name &nbsp; 4.7 &nbsp;</a> 
                <rating style="color:yellowgreen;" [(ngModel)]="_rate1" max="{{_max1}}" stateOn="ion-android-star" stateOff="ion-android-star-outline" class="rating">
                </rating>
              </h4>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
              <span class="black"><h4 class="grey">Driver :John Smith</h4></span>
            </div>
          </div>
          <div class="row child-padding2">
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
              <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2"><i class="fa fa fa-automobile grey"></i></div>
                <div class="col-lg-7 col-md-7 col-sm-7"><span class="black"><h4>2010 Make Model</h4>#000000<br>Ohio</span></div>
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
              </div>
              <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2"></div>
                <div class="col-lg-7 col-md-7 col-sm-7">
                  <div class="row"><br><span class="black"><h6>Double Drop Deck Type</h6></span></div>
                  <div class="row">
                    <span class="black">
                      <h6 class="grey">Empty Weight : &nbsp; &nbsp; 1,000 lbs</h6>
                    </span>
                  </div>
                  <div class="row">
                    <span class="black">
                      <h6 class="grey">Max Weight : &nbsp; &nbsp; 1,000 lbs</h6>
                    </span>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
              </div>
              <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2"><i class="ion-pin blue"></i></div>
                <div class="col-lg-7 col-md-7 col-sm-7">
                  <div class="row"><span class="grey"><h4>Home Location:</h4></span></div>
                  <div class="row"><a href="#"><h4>60 Cleveland Ave.Columbus, Ohio 43215</h4></a></div>                 
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
              </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"><span class="grey"><h4>Axels:</h4></span></div>
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                <div class="col-lg-4 col-md-4 col-sm-4"><span class="black"><h4>6</h4></span></div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"><span class="grey"><h4>Tires/Axel:</h4></span></div>
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                <div class="col-lg-4 col-md-4 col-sm-4"><span class="black"><h4>2</h4></span></div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"><span class="grey"><h4>Tire Width/Axel:</h4></span></div>
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                <div class="col-lg-4 col-md-4 col-sm-4"><span class="black"><h4>32"</h4></span></div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"><span class="grey"><h4>lbs/Axel:</h4></span></div>
                <div class="col-lg-2 col-md-2 col-sm-2"></div>
                <div class="col-lg-6 col-md-6 col-sm-6"><span class="black"><h4>16,666.5</h4></span></div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"><h4 class="grey">Between Axel:</h4></div>
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                <div class="col-lg-4 col-md-4 col-sm-4"><h4 class="black">4'</h4></div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"><h4 class="grey">Length:</h4></div>
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                <div class="col-lg-4 col-md-4 col-sm-4"><h4 class="black">000'</h4></div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"><h4 class="grey">Width:</h4></div>
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                <div class="col-lg-4 col-md-4 col-sm-4"><h4 class="black">000'</h4></div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"><h4 class="grey">Deck Height:</h4></div>
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                <div class="col-lg-4 col-md-4 col-sm-4"><h4 class="black">000'</h4></div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"><h4 class="grey">Well Length:</h4></div>
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                <div class="col-lg-4 col-md-4 col-sm-4"><h4 class="black">000'</h4></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </accordion-group>
     <i class="fa fa-lg float-right card-header fa-chevron-up black"></i>
    <accordion-group  heading="Feb 1,2017@ 7:00 AM">
      <div class="row accordion-title-block">
        <div class="col-lg-3 col-md-3 col-sm-3 black">
         <span class="black"> <h6 style="margin-top:15px;"> Bill of Lading Name/# </h6></span>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8"></div>
        <div class="col-lg-1 col-md-1 col-sm-1" style="margin-top:10px;">
          <button class="btn btn-danger">cancel</button>
        </div>
      </div>
      <div class="row bottom-line"></div>
      <div class="row" >
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <div class="row chile-bottom-line">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
              <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1"><i class="ion-wrench grey"></i></div>
                <div class="col-lg-8 col-md-8 col-sm-8">
                  <span class="black">
                    <h4>
                      Shipment Name<br>Category<br>#000000
                    </h4>
                  </span>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
               <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-4"><span class="black"><h4>L:000'</h4></span></div>
                  <div class="col-lg-4 col-md-4 col-sm-4"><span class="black"><h4>W:000'</h4></span></div>
                  <div class="col-lg-4 col-md-4 col-sm-4"><span class="black"><h4>H:000'</h4></span></div>
               </div>
               <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-4"><span class="black"> <h4>000 lbs</h4></span></div>
                  <div class="col-lg-8 col-md-8 col-sm-8"></div>
               </div>
               <div class="row">
                 <div class="col-lg-8 col-md-8 col-sm-8"><span class="grey"><h4>Requires Permit:</h4></span></div>
                 <div class="col-lg-4 col-md-4 col-sm-4"> </div>
               </div>
               <div class="row">
                 <div class="col-lg-4 col-md-4 col-sm-4"><span class="black"> <h4>NO</h4></span></div>
                 <div class="col-lg-8 col-md-8 col-sm-8"></div>
               </div>
            </div>
          </div>
          <div class="row chile-bottom-line">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
              <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1"><i class="ion-pin blue"></i></div>
                <div class="col-lg-8 col-md-8 col-sm-8">
                  <h4>
                    <a href="#">400 Nationwide Bivd.<br>Columbus,Ohio43215</a>
                    <br>
                    <h4 class="black">|</h4>
                    <a href="#">656 Thurber Dr.W<br>Columbus,Ohio 43215</a>
                  </h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
              <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1"><i class="ion-clock green"></i></div>
                <div class="col-lg-8 col-md-8 col-sm-8">
                  <span class="black">
                    <h4>Jan.21,2017<br>10:00 AM<br>|</h4>
                  </span>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
              </div>
              <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1"><i class="ion-clock grey"></i></div>
                <div class="col-lg-8 col-md-8 col-sm-8"><span class="black"><h4>Jan.21,2017<br>11:00 AM</h4></span></div>
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
              </div>
            </div>
          </div>
          <div class="row child-padding">
             <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
               <div class="row">
                  <div class="col-lg-1 col-md-1 col-sm-1"><i class="ion-document-text red"></i></div>
                  <div class="col-lg-8 col-md-8 col-sm-8"><a href="#"><h4>File Name.pdf</h4></a></div>
                  <div class="col-lg-3 col-md-3 col-sm-3"></div>
               </div>
               <div class="row">
                 <div class="col-lg-1 col-md-1 col-sm-1"></div>
                  <div class="col-lg-8 col-md-8 col-sm-8"><span class="grey"><h6>2-13-17 &nbsp;2:45pm</h6></span></div>
                  <div class="col-lg-3 col-md-3 col-sm-3"></div>
               </div>
             </div>
             <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
               <div class="row">
                  <div class="col-lg-1 col-md-1 col-sm-1"><i class="ion-clipboard grey"></i></div>
                  <div class="col-lg-8 col-md-8 col-sm-8"><a href="#"><h4>File Name.jpg</h4></a></div>
                  <div class="col-lg-3 col-md-3 col-sm-3"></div>
               </div>
               <div class="row">
                 <div class="col-lg-1 col-md-1 col-sm-1"></div>
                  <div class="col-lg-8 col-md-8 col-sm-8"><span class="grey"><h6>2-13-17 &nbsp;2:45pm</h6></span></div>
                  <div class="col-lg-3 col-md-3 col-sm-3"></div>
               </div>
             </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
          <div class="row chile-bottom-line">
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
              <h4><a href="#">Towing &nbsp; Company &nbsp; Name &nbsp; 4.7 &nbsp;</a> 
                <rating style="color:yellowgreen;" [(ngModel)]="_rate1" max="{{_max1}}" stateOn="ion-android-star" stateOff="ion-android-star-outline" class="rating">
                </rating>
              </h4>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
              <span class="black"><h4 class="grey">Driver :John Smith</h4></span>
            </div>
          </div>
          <div class="row child-padding2">
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
              <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2"><i class="fa fa fa-automobile grey"></i></div>
                <div class="col-lg-7 col-md-7 col-sm-7"><span class="black"><h4>2010 Make Model</h4>#000000<br>Ohio</span></div>
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
              </div>
              <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2"></div>
                <div class="col-lg-7 col-md-7 col-sm-7">
                  <div class="row"><br><span class="black"><h6>Double Drop Deck Type</h6></span></div>
                  <div class="row">
                    <span class="black">
                      <h6 class="grey">Empty Weight : &nbsp; &nbsp; 1,000 lbs</h6>
                    </span>
                  </div>
                  <div class="row">
                    <span class="black">
                      <h6 class="grey">Max Weight : &nbsp; &nbsp; 1,000 lbs</h6>
                    </span>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
              </div>
              <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2"><i class="ion-pin blue"></i></div>
                <div class="col-lg-7 col-md-7 col-sm-7">
                  <div class="row"><span class="grey"><h4>Home Location:</h4></span></div>
                  <div class="row"><a href="#"><h4>60 Cleveland Ave.Columbus, Ohio 43215</h4></a></div>                 
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
              </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"><span class="grey"><h4>Axels:</h4></span></div>
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                <div class="col-lg-4 col-md-4 col-sm-4"><span class="black"><h4>6</h4></span></div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"><span class="grey"><h4>Tires/Axel:</h4></span></div>
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                <div class="col-lg-4 col-md-4 col-sm-4"><span class="black"><h4>2</h4></span></div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"><span class="grey"><h4>Tire Width/Axel:</h4></span></div>
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                <div class="col-lg-4 col-md-4 col-sm-4"><span class="black"><h4>32"</h4></span></div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"><span class="grey"><h4>lbs/Axel:</h4></span></div>
                <div class="col-lg-2 col-md-2 col-sm-2"></div>
                <div class="col-lg-6 col-md-6 col-sm-6"><span class="black"><h4>16,666.5</h4></span></div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"><h4 class="grey">Between Axel:</h4></div>
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                <div class="col-lg-4 col-md-4 col-sm-4"><h4 class="black">4'</h4></div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"><h4 class="grey">Length:</h4></div>
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                <div class="col-lg-4 col-md-4 col-sm-4"><h4 class="black">000'</h4></div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"><h4 class="grey">Width:</h4></div>
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                <div class="col-lg-4 col-md-4 col-sm-4"><h4 class="black">000'</h4></div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"><h4 class="grey">Deck Height:</h4></div>
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                <div class="col-lg-4 col-md-4 col-sm-4"><h4 class="black">000'</h4></div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"><h4 class="grey">Well Length:</h4></div>
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                <div class="col-lg-4 col-md-4 col-sm-4"><h4 class="black">000'</h4></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </accordion-group>
     <i class="fa fa-lg float-right card-header fa-chevron-up black"></i>
    <accordion-group  heading="Feb 1,2017@ 7:00 AM">
      <div class="row accordion-title-block">
        <div class="col-lg-3 col-md-3 col-sm-3 black">
         <span class="black"> <h6 style="margin-top:15px;"> Bill of Lading Name/# </h6></span>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8"></div>
        <div class="col-lg-1 col-md-1 col-sm-1" style="margin-top:10px;">
          <button class="btn btn-danger">cancel</button>
        </div>
      </div>
      <div class="row bottom-line"></div>
      <div class="row" >
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <div class="row chile-bottom-line">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
              <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1"><i class="ion-wrench grey"></i></div>
                <div class="col-lg-8 col-md-8 col-sm-8">
                  <span class="black">
                    <h4>
                      Shipment Name<br>Category<br>#000000
                    </h4>
                  </span>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
               <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-4"><span class="black"><h4>L:000'</h4></span></div>
                  <div class="col-lg-4 col-md-4 col-sm-4"><span class="black"><h4>W:000'</h4></span></div>
                  <div class="col-lg-4 col-md-4 col-sm-4"><span class="black"><h4>H:000'</h4></span></div>
               </div>
               <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-4"><span class="black"> <h4>000 lbs</h4></span></div>
                  <div class="col-lg-8 col-md-8 col-sm-8"></div>
               </div>
               <div class="row">
                 <div class="col-lg-8 col-md-8 col-sm-8"><span class="grey"><h4>Requires Permit:</h4></span></div>
                 <div class="col-lg-4 col-md-4 col-sm-4"> </div>
               </div>
               <div class="row">
                 <div class="col-lg-4 col-md-4 col-sm-4"><span class="black"> <h4>NO</h4></span></div>
                 <div class="col-lg-8 col-md-8 col-sm-8"></div>
               </div>
            </div>
          </div>
          <div class="row chile-bottom-line">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
              <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1"><i class="ion-pin blue"></i></div>
                <div class="col-lg-8 col-md-8 col-sm-8">
                  <h4>
                    <a href="#">400 Nationwide Bivd.<br>Columbus,Ohio43215</a>
                    <br>
                    <h4 class="black">|</h4>
                    <a href="#">656 Thurber Dr.W<br>Columbus,Ohio 43215</a>
                  </h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
              <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1"><i class="ion-clock green"></i></div>
                <div class="col-lg-8 col-md-8 col-sm-8">
                  <span class="black">
                    <h4>Jan.21,2017<br>10:00 AM<br>|</h4>
                  </span>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
              </div>
              <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1"><i class="ion-clock grey"></i></div>
                <div class="col-lg-8 col-md-8 col-sm-8"><span class="black"><h4>Jan.21,2017<br>11:00 AM</h4></span></div>
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
              </div>
            </div>
          </div>
          <div class="row child-padding">
             <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
               <div class="row">
                  <div class="col-lg-1 col-md-1 col-sm-1"><i class="ion-document-text red"></i></div>
                  <div class="col-lg-8 col-md-8 col-sm-8"><a href="#"><h4>File Name.pdf</h4></a></div>
                  <div class="col-lg-3 col-md-3 col-sm-3"></div>
               </div>
               <div class="row">
                 <div class="col-lg-1 col-md-1 col-sm-1"></div>
                  <div class="col-lg-8 col-md-8 col-sm-8"><span class="grey"><h6>2-13-17 &nbsp;2:45pm</h6></span></div>
                  <div class="col-lg-3 col-md-3 col-sm-3"></div>
               </div>
             </div>
             <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
               <div class="row">
                  <div class="col-lg-1 col-md-1 col-sm-1"><i class="ion-clipboard grey"></i></div>
                  <div class="col-lg-8 col-md-8 col-sm-8"><a href="#"><h4>File Name.jpg</h4></a></div>
                  <div class="col-lg-3 col-md-3 col-sm-3"></div>
               </div>
               <div class="row">
                 <div class="col-lg-1 col-md-1 col-sm-1"></div>
                  <div class="col-lg-8 col-md-8 col-sm-8"><span class="grey"><h6>2-13-17 &nbsp;2:45pm</h6></span></div>
                  <div class="col-lg-3 col-md-3 col-sm-3"></div>
               </div>
             </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
          <div class="row chile-bottom-line">
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
              <h4><a href="#">Towing &nbsp; Company &nbsp; Name &nbsp; 4.7 &nbsp;</a> 
                <rating style="color:yellowgreen;" [(ngModel)]="_rate1" max="{{_max1}}" stateOn="ion-android-star" stateOff="ion-android-star-outline" class="rating">
                </rating>
              </h4>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
              <span class="black"><h4 class="grey">Driver :John Smith</h4></span>
            </div>
          </div>
          <div class="row child-padding2">
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
              <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2"><i class="fa fa fa-automobile grey"></i></div>
                <div class="col-lg-7 col-md-7 col-sm-7"><span class="black"><h4>2010 Make Model</h4>#000000<br>Ohio</span></div>
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
              </div>
              <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2"></div>
                <div class="col-lg-7 col-md-7 col-sm-7">
                  <div class="row"><br><span class="black"><h6>Double Drop Deck Type</h6></span></div>
                  <div class="row">
                    <span class="black">
                      <h6 class="grey">Empty Weight : &nbsp; &nbsp; 1,000 lbs</h6>
                    </span>
                  </div>
                  <div class="row">
                    <span class="black">
                      <h6 class="grey">Max Weight : &nbsp; &nbsp; 1,000 lbs</h6>
                    </span>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
              </div>
              <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2"><i class="ion-pin blue"></i></div>
                <div class="col-lg-7 col-md-7 col-sm-7">
                  <div class="row"><span class="grey"><h4>Home Location:</h4></span></div>
                  <div class="row"><a href="#"><h4>60 Cleveland Ave.Columbus, Ohio 43215</h4></a></div>                 
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
              </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"><span class="grey"><h4>Axels:</h4></span></div>
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                <div class="col-lg-4 col-md-4 col-sm-4"><span class="black"><h4>6</h4></span></div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"><span class="grey"><h4>Tires/Axel:</h4></span></div>
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                <div class="col-lg-4 col-md-4 col-sm-4"><span class="black"><h4>2</h4></span></div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"><span class="grey"><h4>Tire Width/Axel:</h4></span></div>
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                <div class="col-lg-4 col-md-4 col-sm-4"><span class="black"><h4>32"</h4></span></div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"><span class="grey"><h4>lbs/Axel:</h4></span></div>
                <div class="col-lg-2 col-md-2 col-sm-2"></div>
                <div class="col-lg-6 col-md-6 col-sm-6"><span class="black"><h4>16,666.5</h4></span></div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"><h4 class="grey">Between Axel:</h4></div>
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                <div class="col-lg-4 col-md-4 col-sm-4"><h4 class="black">4'</h4></div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"><h4 class="grey">Length:</h4></div>
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                <div class="col-lg-4 col-md-4 col-sm-4"><h4 class="black">000'</h4></div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"><h4 class="grey">Width:</h4></div>
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                <div class="col-lg-4 col-md-4 col-sm-4"><h4 class="black">000'</h4></div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"><h4 class="grey">Deck Height:</h4></div>
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                <div class="col-lg-4 col-md-4 col-sm-4"><h4 class="black">000'</h4></div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"><h4 class="grey">Well Length:</h4></div>
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                <div class="col-lg-4 col-md-4 col-sm-4"><h4 class="black">000'</h4></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </accordion-group>
     <i class="fa fa-lg float-right card-header fa-chevron-up black"></i>
    <accordion-group  heading="Feb 1,2017@ 7:00 AM">
      <div class="row accordion-title-block">
        <div class="col-lg-3 col-md-3 col-sm-3 black">
         <span class="black"> <h6 style="margin-top:15px;"> Bill of Lading Name/# </h6></span>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8"></div>
        <div class="col-lg-1 col-md-1 col-sm-1" style="margin-top:10px;">
          <button class="btn btn-danger">cancel</button>
        </div>
      </div>
      <div class="row bottom-line"></div>
      <div class="row" >
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <div class="row chile-bottom-line">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
              <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1"><i class="ion-wrench grey"></i></div>
                <div class="col-lg-8 col-md-8 col-sm-8">
                  <span class="black">
                    <h4>
                      Shipment Name<br>Category<br>#000000
                    </h4>
                  </span>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
               <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-4"><span class="black"><h4>L:000'</h4></span></div>
                  <div class="col-lg-4 col-md-4 col-sm-4"><span class="black"><h4>W:000'</h4></span></div>
                  <div class="col-lg-4 col-md-4 col-sm-4"><span class="black"><h4>H:000'</h4></span></div>
               </div>
               <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-4"><span class="black"> <h4>000 lbs</h4></span></div>
                  <div class="col-lg-8 col-md-8 col-sm-8"></div>
               </div>
               <div class="row">
                 <div class="col-lg-8 col-md-8 col-sm-8"><span class="grey"><h4>Requires Permit:</h4></span></div>
                 <div class="col-lg-4 col-md-4 col-sm-4"> </div>
               </div>
               <div class="row">
                 <div class="col-lg-4 col-md-4 col-sm-4"><span class="black"> <h4>NO</h4></span></div>
                 <div class="col-lg-8 col-md-8 col-sm-8"></div>
               </div>
            </div>
          </div>
          <div class="row chile-bottom-line">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
              <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1"><i class="ion-pin blue"></i></div>
                <div class="col-lg-8 col-md-8 col-sm-8">
                  <h4>
                    <a href="#">400 Nationwide Bivd.<br>Columbus,Ohio43215</a>
                    <br>
                    <h4 class="black">|</h4>
                    <a href="#">656 Thurber Dr.W<br>Columbus,Ohio 43215</a>
                  </h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
              <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1"><i class="ion-clock green"></i></div>
                <div class="col-lg-8 col-md-8 col-sm-8">
                  <span class="black">
                    <h4>Jan.21,2017<br>10:00 AM<br>|</h4>
                  </span>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
              </div>
              <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1"><i class="ion-clock grey"></i></div>
                <div class="col-lg-8 col-md-8 col-sm-8"><span class="black"><h4>Jan.21,2017<br>11:00 AM</h4></span></div>
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
              </div>
            </div>
          </div>
          <div class="row child-padding">
             <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
               <div class="row">
                  <div class="col-lg-1 col-md-1 col-sm-1"><i class="ion-document-text red"></i></div>
                  <div class="col-lg-8 col-md-8 col-sm-8"><a href="#"><h4>File Name.pdf</h4></a></div>
                  <div class="col-lg-3 col-md-3 col-sm-3"></div>
               </div>
               <div class="row">
                 <div class="col-lg-1 col-md-1 col-sm-1"></div>
                  <div class="col-lg-8 col-md-8 col-sm-8"><span class="grey"><h6>2-13-17 &nbsp;2:45pm</h6></span></div>
                  <div class="col-lg-3 col-md-3 col-sm-3"></div>
               </div>
             </div>
             <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
               <div class="row">
                  <div class="col-lg-1 col-md-1 col-sm-1"><i class="ion-clipboard grey"></i></div>
                  <div class="col-lg-8 col-md-8 col-sm-8"><a href="#"><h4>File Name.jpg</h4></a></div>
                  <div class="col-lg-3 col-md-3 col-sm-3"></div>
               </div>
               <div class="row">
                 <div class="col-lg-1 col-md-1 col-sm-1"></div>
                  <div class="col-lg-8 col-md-8 col-sm-8"><span class="grey"><h6>2-13-17 &nbsp;2:45pm</h6></span></div>
                  <div class="col-lg-3 col-md-3 col-sm-3"></div>
               </div>
             </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
          <div class="row chile-bottom-line">
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
              <h4><a href="#">Towing &nbsp; Company &nbsp; Name &nbsp; 4.7 &nbsp;</a> 
                <rating style="color:yellowgreen;" [(ngModel)]="_rate1" max="{{_max1}}" stateOn="ion-android-star" stateOff="ion-android-star-outline" class="rating">
                </rating>
              </h4>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
              <span class="black"><h4 class="grey">Driver :John Smith</h4></span>
            </div>
          </div>
          <div class="row child-padding2">
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
              <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2"><i class="fa fa fa-automobile grey"></i></div>
                <div class="col-lg-7 col-md-7 col-sm-7"><span class="black"><h4>2010 Make Model</h4>#000000<br>Ohio</span></div>
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
              </div>
              <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2"></div>
                <div class="col-lg-7 col-md-7 col-sm-7">
                  <div class="row"><br><span class="black"><h6>Double Drop Deck Type</h6></span></div>
                  <div class="row">
                    <span class="black">
                      <h6 class="grey">Empty Weight : &nbsp; &nbsp; 1,000 lbs</h6>
                    </span>
                  </div>
                  <div class="row">
                    <span class="black">
                      <h6 class="grey">Max Weight : &nbsp; &nbsp; 1,000 lbs</h6>
                    </span>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
              </div>
              <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2"><i class="ion-pin blue"></i></div>
                <div class="col-lg-7 col-md-7 col-sm-7">
                  <div class="row"><span class="grey"><h4>Home Location:</h4></span></div>
                  <div class="row"><a href="#"><h4>60 Cleveland Ave.Columbus, Ohio 43215</h4></a></div>                 
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
              </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"><span class="grey"><h4>Axels:</h4></span></div>
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                <div class="col-lg-4 col-md-4 col-sm-4"><span class="black"><h4>6</h4></span></div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"><span class="grey"><h4>Tires/Axel:</h4></span></div>
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                <div class="col-lg-4 col-md-4 col-sm-4"><span class="black"><h4>2</h4></span></div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"><span class="grey"><h4>Tire Width/Axel:</h4></span></div>
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                <div class="col-lg-4 col-md-4 col-sm-4"><span class="black"><h4>32"</h4></span></div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"><span class="grey"><h4>lbs/Axel:</h4></span></div>
                <div class="col-lg-2 col-md-2 col-sm-2"></div>
                <div class="col-lg-6 col-md-6 col-sm-6"><span class="black"><h4>16,666.5</h4></span></div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"><h4 class="grey">Between Axel:</h4></div>
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                <div class="col-lg-4 col-md-4 col-sm-4"><h4 class="black">4'</h4></div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"><h4 class="grey">Length:</h4></div>
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                <div class="col-lg-4 col-md-4 col-sm-4"><h4 class="black">000'</h4></div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"><h4 class="grey">Width:</h4></div>
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                <div class="col-lg-4 col-md-4 col-sm-4"><h4 class="black">000'</h4></div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"><h4 class="grey">Deck Height:</h4></div>
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                <div class="col-lg-4 col-md-4 col-sm-4"><h4 class="black">000'</h4></div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"><h4 class="grey">Well Length:</h4></div>
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                <div class="col-lg-4 col-md-4 col-sm-4"><h4 class="black">000'</h4></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </accordion-group>
  </accordion> 
  </div>
</div>


